<form #formularioEntidad="ngForm" (ngSubmit) = "buscar(formularioEntidad.value)">
    <div class="form-group">
        <label for="nombre">Codigo Postal:</label>
        <div class="input-group">
            <input name="codigoPostal" ngModel type="text" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary mt-3">Buscar</button>
    </div>
</form>
<hr>
<div *ngFor="let entidad of listaEntidades">
    <div class="container">
        <h3>Nombre: {{entidad.nombre}}</h3>
        <h5>Organizador: {{entidad.organizador}}</h5>
        <button class="btn btn-primary" (click)="redirectEntidad(entidad._id)">Ver informacion</button>
        <hr>
    </div>
</div>
